<h1 class="current-category"><%= params[:category] %></h1>

<% if @dishes.count == 0 %>

  <h1>There are currently no dishes in this category</h1>

<% else %>

  <div class="row">

    <% @dishes.each do |dish| %>

      <div class="col-md-3">
        <a href="/dishes/<%= dish.id %>">
          <%= image_tag dish.image.url(:medium) %>
        </a>
      </div>

    <% end %>

  </div>

<% end %>








