<%= simple_form_for([@dish, @dish.reviews.build]) do |f| %>
  <div id="rating-form" class="ubuntu">
  <label>Rating</label>
  </div>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>

<script>
  $('#rating-form').raty({

    scoreName: 'review[rating]'
  });
</script>


