<%= simple_form_for([@dish, @dish.reviews.build]) do |f| %>
  <div id="rating-form">
  <label>Rating</label>
  </div>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>

<script>
  $('#rating-form').raty({
    path: 'https://s3-us-west-1.amazonaws.com/cheapeatsinla/',
    scoreName: 'review[rating]'
  });
</script>


