<div><%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %></div>
<p><%= review.comment %></p>


<% if user_signed_in? %>

  <% if review.user_id == current_user.id %>

    <%= link_to "Edit", edit_dish_review_path(review.dish, review) %>
    <%= link_to "Delete", dish_review_path(review.dish, review), method: :delete, data: { confirm: "Are you sure?" } %>

  <% end %>

<% end %>
